[submodule "knausj_talon"]
	path = knausj_talon
	url = git@github.com:SCdF/knausj_talon.git
[submodule "cursorless-talon"]
	path = cursorless-talon
	url = https://github.com/pokey/cursorless-talon/
[submodule "mouse_guide"]
	path = mouse_guide
	url = https://github.com/tararoys/mouse_guide.git
[submodule "dense-mouse-grid"]
	path = dense-mouse-grid
	url = https://github.com/tararoys/dense-mouse-grid.git
